#myadminpagefooter {
    background-color: #dcdbdb;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: 12.78rem;
  }
  #mylogincontainer{
    margin: 4rem auto;
  }
  
  @media (max-width: 768px) {
    #myadminpagefooter {
      position: relative;
      margin-top: 0;
      width: 100vw;
    }
    #mylogincontainer{
        margin: 40px auto;
        width:70%;
        padding:1rem;
      }
  }